@use "../../styles/vars";

$padding-form: 2rem;
$border-form-input: none;
$border-radius-form: 10px;

$font-size-input: 1.7rem;

.GridSettings {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: vars.$mobile) {
    flex-direction: column;
    gap: 10px;
    padding: $padding-form;
  }

  &__input {
    margin-right: 0.3rem;
    padding: $padding-form;
    border: $border-form-input;
    font-size: $font-size-input;
    width: 30%;

    @media only screen and (max-width: vars.$mobile) {
      width: 100%;
      border-radius: $border-radius-form;
    }
  }

  &__input:first-child {
    border-top-left-radius: $border-radius-form;
    border-bottom-left-radius: $border-radius-form;
  }

  &__submit {
    background-color: hsl(265deg 70% 65%);
    padding: $padding-form;
    border: $border-form-input;
    font-size: $font-size-input;
    color: vars.$white;
    border-top-right-radius: $border-radius-form;
    border-bottom-right-radius: $border-radius-form;

    @media only screen and (max-width: vars.$mobile) {
      border-radius: $border-radius-form;
    }
  }
}
