@use "../../styles/vars";

$grey: #d0d9e1;

.GridInvader {
  &__row {
    display: flex;
  }

  &__square {
    background-color: $grey;
    border: 2px solid darken($color: $grey, $amount: 30);
    width: 25px;
    height: 25px;
  }
}
